@use '_variaveis';

// Textos mixins 
@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$textColorPrimary;
}

@mixin title ($fontSize: 40px) {
    @include text ($fontSize);
    color: variaveis.$textColorSecundary;
}

@mixin subtitle ($fontSize: 32px) {
    @include text ($fontSize);
    color: variaveis.$textColorSecundary;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        @include text(15px)
    }
}
.text {
    @include text;

    @media (max-width: 768px) {
        @include text(14px)
    }
}
.text--small {
    @include text (12px);

    @media (max-width: 768px) {
        @include text(11px)
    }
    @media (max-width: 425px) {
        @include text(14px);
    }
    
}
.title--big {
    @include title (44px);
    text-transform: uppercase;

    @media (max-width: 768px) {
        @include title(26px)
    }
}
.title {
    @include title;
    text-transform: uppercase;

    @media (max-width: 768px) {
        @include title(24px)
    }
    @media (max-width: 425px) {
        @include title(20px);
    }
}
.title--small {
    @include title (24px);
    color: variaveis.$textColorPrimary;
    text-transform: uppercase;
    @media (max-width: 768px) {
        @include title(22px);
        color: variaveis.$textColorPrimary;
    }
    @media (max-width: 425px){
        @include title(16px);
        color: variaveis.$textColorPrimary;
    }
}

// Flex box mixins 
@mixin d-flex {
    display: flex;
    align-items: center;
}
@mixin d-flex--center {
    @include d-flex();
    justify-content: center
}

@mixin d-flex-column {
    @include d-flex();
    flex-direction: column;
}

@mixin d-flex-column--center {
    @include d-flex--center();
    flex-direction: column;
}
