// imports 
@use '_variaveis';

// mixins 
@mixin d-flex {
    display: flex;
    align-items: center;
}
@mixin d-flex--center {
    @include d-flex();
    justify-content: center
}
@mixin d-flex-column--center {
    @include d-flex--center();
    flex-direction: column;
}
.new-season {
    @include d-flex-column--center();
    // largura  / altura
    width: 100%;
    height: 100vh;
    @media (max-width: 1024px) {
        width: 100%;
        height: 48rem;
    }
    @media (max-width: 425px) {
        width: 100%;
        height: 28rem;
    }
    
    // margens 
    margin: 0 auto;
    // flex-box 
    &__content {
        padding-top: 98px;
        @media (max-width: 768px){
            padding: 0;
        }
        @media (max-width: 425px){
            padding: 0;
        }
        &__titles {
            // flex-box 
            @include d-flex();
            h2 {
                padding-right: 8px;
                border-right: 1px solid #FFF;   
                @media (max-width: 424px){
                    font-size: 14px;
                }
            }
            h3 {
                padding-left: 8px;
                @media (max-width: 424px){
                    font-size: 12px;
                }
            }
            // margins 
            margin-bottom: 18px;
            gap: 8px;
        }
        &__trailer {
            @media (max-width: 425px){
                width: 100%;
            }
            iframe {
                @media (max-width: 1024px) {
                    width: 720px;
                    height: 610px;
                }
                @media (max-width: 768px){
                    width: 420px;
                    height: 315px;
                }
                @media (max-width: 425px){
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}