// import archives
@use '_variaveis';
@use '_mixins'; 
@use '_header'; 
@use '_hero'; 
@use '_about';
@use '_new-season';
@use '_watch'; 
@use '_cast'; 
@use '_faq'; 
@use '_footer';

// display styles
* {  //reset geral           
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}
body {
    background-color: variaveis.$backgroundColorPrimary;
    .body__container {
        width: auto;

        @media (max-width: 1024px) {
            width: 100%;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
        @media (max-width: 425px) {
            width: 100%;
        }
    }

    section { //define animação para a troca de seções
        transition: all 0.5s ease-in-out;
    }

    .titles { //estilo dos títulos
        width: max-content;
        display: flex;
        align-items: baseline;
    }
}
// common styles classes
.colored {
    color: variaveis.$textColorSecundary
}

